<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="material.xacro"/>
    <xacro:include filename="../guiding files/inertial_macros.xacro"/>

    <xacro:macro name="camera_link" params="name">

        <link name="${name}">

            <visual name="${name}_visual">
                <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.1 0.1 0.1"/>
                </geometry>
                <material name="green"/>
            </visual>

            <collision name="${name}_collision">
                <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.1 0.1 0.1"/>
                </geometry>
            </collision>

            <xacro:inertial_box mass="0.1" x="0.1" y="0.1" z="0.1">
                <origin xyz="0.0 0 0.4" rpy="0 0 0"/>
            </xacro:inertial_box>

        </link>

    </xacro:macro>

</robot>