<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="material.xacro"/>

    <xacro:macro name="body_link" params="name">

        <link name="${name}">

            <visual name="${name}_visual">
                <origin xyz="0.95 0.0 1.6" rpy="0.0 1.5708 0.0"/>
                <geometry>
                    <box size="2.0 2.0 0.35"/>
                </geometry>
                <material name="white"/>
            </visual>

            <collision name="${name}_collison">
                <origin xyz="0.95 0.0 1.6" rpy="0.0 1.5708 0.0"/>
                <geometry>
                    <box size="2.0 2.0 0.35"/>
                </geometry>
            </collision>

            <xacro:inertial_box mass="30" x="4.0" y="2.0" z="1.0">
                <origin xyz="2.0 2.0 0.35" rpy="0 0 0"/>
            </xacro:inertial_box>

        </link>

    </xacro:macro>

    <!--<xacro:body_link name="body_link_1"/>-->

</robot>