<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="material.xacro"/>
    <xacro:include filename="inertial_macros.xacro"/>

    <xacro:macro name="caster_link" params="name">

        <link name="${name}">
            <visual name="${name}_visual">
                <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <sphere radius="0.15"/>
                </geometry>
                <material name="orange"/>
            </visual>

            <collision name="${name}_collision">
                <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <sphere radius="0.15"/>
                </geometry>
                <surface>
                    <friction>
                        <ode>
                            <mu>0</mu>
                            <mu2>0</mu2>
                            <slip1>1.0</slip1>
                            <slip2>1.0</slip2>
                        </ode>
                    </friction>
                </surface>
            </collision>

            <xacro:inertial_sphere mass="1.5" radius="0.15">
                <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
            </xacro:inertial_sphere>

        </link>

    </xacro:macro>

    <!--<xacro:caster_link name="caster_link_1"/>-->

</robot>
